*{
    margin: 0;
}

.navbar{
    height: 80px;
    background: linear-gradient(45deg, #9000fff7, #e524ff 60%);
    display: flex;
    justify-content: end;
    align-items: center;
}

.nav-list{
    align-items: center;
    gap: 25px;
    display: flex;
    margin-right: 130px;
}

.nav-item{
    list-style: none;
    color: white;
}

.nav-item a{
    color: white;
    text-decoration: none;
    font-size: 21px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    transition: 500ms;
}

.nav-item a:hover{
    color: rgb(255, 114, 222);
}

.logo0 {
    left: 90px;
    position: absolute;
    width: 70px;
    height: auto;
    padding: 0;
    margin-left: 20px;
}


#colabore{
    width: 130px;
    height: 40px;
    padding-left: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(50deg, #a012ff, #ff0166);
    border-radius: 50px;
    padding: 6px 12px;
    transition: 700ms;
}

#colabore:hover{
    border-radius: 21px;
    transform: scale(1.1);
}

.Inicio{
    width: 100%;
    height: auto;
    display: block;
}

.Container-MVV{
  background:linear-gradient(rgb(115, 0, 177), rgba(204, 0, 255, 0.958), rgb(158, 0, 210)100%);
  max-width: 100%;
  height: 500px;
  gap: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 10px 15px rgb(23, 23, 23);
  z-index: 1;
}

.Logo{
  max-width: 200px;
  height: auto;
  transition: 400ms;
}


.Container-MVV H1{
  font-size: 25px;
  color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
}

.Container-MVV p{
  color: #ffffff;
  max-width: 300px;
  text-align: center;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}

.Container-MVV1{
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.Container-MVV1:hover> :not(:hover){
filter: blur(2px);
opacity: 1;
}

.Container-MVV1-0{
  background: linear-gradient( rgb(212, 0, 255) 23%, rgb(238, 0, 250), rgb(242, 63, 255));
  width: 300px;
  height: 400px;
  align-items: center;
  gap: 20px;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  transition: 700ms ease-in-out;
}

.Container-MVV1-0:hover{
  transform: translateY(-28px);
}