@media(max-width:850px) {
    body{
        overflow: hidden;
    }
  .nav-list{
    display: none;
    gap: 0.7rem !important;
  }
  .nav-item a{
  font-size: 1.7vw !important;
 }
 .navbar{
  height: 40px;
 }
 .logo0{
    width: 35px;
 }
   .logo{
    top: 7vh;
    width: 20%;
 }
   .Container1-0{
    font-size: 2.3vw;
  }
  .Container1-0 p{
    margin-top: -1vh;
    max-width: 90%;
  }
    .Container1-0 button{
    display: none;
  }
  .Container1-0-0{
    display: none;
  }
  .Container1-0-0 a{
    font-size: 3.9vw;
  }

  .carrossel-pai, .container2-0-0{
    display: none;
  }

  .Container2-0{
    margin-left: 0vh;
    margin-right: 0vh;
    text-align: center;
    font-size: 1rem;
    max-width: 100%;
  }

  .Container2-0 ul{
    margin: 1vh;
    list-style: none;
  }

  .Container-3-0-0 h1{
    margin: 0.5vh;
    font-size: 0.9rem;
  }

  .Container-3-0-0 hr{
    margin-top: -1vh;
  }

  .Container-3-0-0 p{
    margin-top: -0.4vh;
    font-size: 0.5rem;
  }

  .Container-3-0 button{
    display: none;
  }
}